<div class="container">
  <header class="hero">
    <h1>What will you do today?</h1>
    <p>Tend to your tasks with Goally, a demo app by Tim Bowersox.</p>
    <div>
      <a mat-raised-button color="primary" routerLink="/register">
        Get Started
      </a>
    </div>
  </header>

  <mat-divider></mat-divider>

  <section id="disclaimer">
    <h2>Head's up! This is just a demo app!</h2>
    <p>
      Goally is part of a portfolio project with the goal (pun absolutely
      intended) of demonstrating my ability to create full-stack apps using
      different frontend frameworks.
    </p>
    <p>
      This app is fully functional and designed with security in mind, though
      <em>any data you provide will be deleted after 24 hours of inactivity</em
      >. I both don't want to store any info about you longer than needed, and
      also want to keep this project affordable for me to host.
    </p>
  </section>

  <mat-divider></mat-divider>

  <section id="about">
    <h2>About this version</h2>
    <p>
      This version of Goally was created using the
      <a href="https://angular.io">Angular</a> framework, along with the
      <a href="https://material.angular.io">Angular Material</a> component
      library. Although I used <a href="https://sass-lang.com">Sass</a> as the
      stylsheet format, I made use of modern CSS (including custom properties)
      where appropriate.
    </p>
    <p>
      This app includes a light and dark theme based on the user's OS
      preference. It also disables animations for users who prefer reduced
      motion.
    </p>
  </section>

  <mat-divider></mat-divider>

  <section id="project">
    <h2>Other versions</h2>
    <p>
      Visit <a href="https://goally.app">The Goally Project</a> to learn more
      about this and check out other versions of the app.
    </p>
  </section>
</div>
