<app-skip-link></app-skip-link>

<mat-toolbar color="primary" class="mat-elevation-z5">
  <div class="toolbar-group toolbar-left">
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      type="button"
      aria-label="Toggle menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Goally</span>
  </div>

  <div class="toolbar-group toolbar-right">
    <ng-container *ngIf="currentUser | async; else publicActions">
      <button
        mat-icon-button
        routerlink="/logout"
        type="button"
        aria-label="Log out"
        (click)="handleLogout()"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </ng-container>
    <ng-template #publicActions>
      <a mat-icon-button routerLink="/login" aria-label="Log in">
        <mat-icon>login</mat-icon>
      </a>
    </ng-template>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="over"
    fixedInViewport="true"
    role="navigation"
    aria-labelledby="sidenav-title"
  >
    <div class="sidenav-header">
      <div id="sidenav-title">Menu</div>
      <button
        mat-icon-button
        (click)="sidenav.close()"
        type="button"
        aria-label="Close menu"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div *ngIf="currentUser | async">
      Signed in as {{ (currentUser | async)?.username }}
    </div>
    <mat-nav-list aria-labelledby="sidenav-title">
      <app-menu-link
        *ngFor="let menuLink of menuLinks"
        [link]="menuLink.link"
        [icon]="menuLink.icon"
        (clicked)="sidenav.close()"
      >
        {{ menuLink.title }}
      </app-menu-link>
    </mat-nav-list>
    <ng-container *ngIf="currentUser | async">
      <mat-divider></mat-divider>
      <mat-action-list>
        <button mat-list-item (click)="handleLogout(sidenav)" type="button">
          <mat-icon matListItemIcon>logout</mat-icon>
          Log out
        </button>
      </mat-action-list>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <main id="main" tabindex="-1">
      <app-spinner *ngIf="isNavigating; else content"></app-spinner>
      <ng-template #content>
        <router-outlet></router-outlet>
      </ng-template>
    </main>
    <footer>
      <div>&copy; 2023 Tim Bowersox.</div>
      <div>
        Part of <a href="https://goally.app">The Goally Project</a> |
        <a href="https://github.com/t-bowersox/goally-app-angular">
          View source code
        </a>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
