<app-skip-link></app-skip-link>

<mat-toolbar color="primary" class="mat-elevation-z5">
  <div class="toolbar-group toolbar-left">
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      type="button"
      aria-label="Toggle menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Goally</span>
  </div>

  <div class="toolbar-group toolbar-right">
    <a mat-icon-button routerLink="/login" aria-label="Log in">
      <mat-icon>login</mat-icon>
    </a>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="over"
    fixedInViewport="true"
    role="navigation"
    aria-labelledby="sidenav-title"
  >
    <div class="sidenav-header">
      <div id="sidenav-title">Menu</div>
      <button
        mat-icon-button
        (click)="sidenav.close()"
        type="button"
        aria-label="Close menu"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-nav-list aria-labelledby="sidenav-title">
      <a
        mat-list-item
        routerLink="/"
        routerLinkActive
        ariaCurrentWhenActive="page"
      >
        Home
      </a>
      <a
        mat-list-item
        routerLink="/login"
        routerLinkActive
        ariaCurrentWhenActive="page"
      >
        Log In
      </a>
      <a
        mat-list-item
        routerLink="/register"
        routerLinkActive
        ariaCurrentWhenActive="page"
      >
        Sign Up
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item href="https://goally.app">The Goally Project</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main id="main" tabindex="-1">
      <router-outlet></router-outlet>
    </main>
    <footer>
      <div>&copy; 2023 Tim Bowersox.</div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
